<div class="custom-container">
  <div class="box" *ngIf="layoutVisible">
    <div
      class="circle"
      [ngClass]="activeCirclePosition"
      [ngStyle]="{'background': activeCircleColor}"
      (click)="setNextPosition()">
    </div>
  </div>
</div>
