$box-width: 400px;
$box-height: 200px;
$border-width: 2px;
$circle-radius: 20px;

.custom-container {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;

  .box {
    border: solid black $border-width;
    border-radius: $circle-radius + $border-width;
    height: $box-height;
    position: relative;
    width: $box-width;

    .circle {
      background: #333;
      border-radius: 50%;
      cursor: pointer;
      height: $circle-radius*2;
      position: absolute;
      transition: top .3s ease-in-out, left .3s ease-in-out, background .3s ease-in-out;
      width: $circle-radius*2;
      &.top-left {
        left: 0;
        top: 0;
      }
      &.top-right {
        left: ($box-width - (2*$circle-radius));
        top: 0;
      }
      &.bottom-right {
        left: ($box-width - (2*$circle-radius));
        top: ($box-height - (2*$circle-radius));
      }
      &.bottom-left {
        left: 0;
        top: ($box-height - (2*$circle-radius));
      }
    }
  }

}
